<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>

</head>

<body>
    {{>header}}
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">

            </div>
            <div class="col-sm-8 text-left">
                <div class="jumbotron" style="padding-top: 5%;">
                    <div>
                        <img src="/img/Screenshot from 2020-11-29 12-16-17.png" alt=""
                            style='height: 100%; width: 100%;object-fit: contain'>
                    </div>
                    <h1>Sorting Algorithm visualization tool</h1>
                    <p>
                        Helps to visualize different sorting algorithm like Merge
                        sort ,Quick sort, Heap sort,Bubble sort ,Insertion sort
                    </p>
                    <ul>
                        <li>to understand time complexity better</li>
                        <li>algorithms can be visualize at different speed
                            controlled users</li>
                        <li>colour coding is used for intermediate steps</li>
                    </ul>
                    

                    <button type="button" class="btn btn-success"><a href="https://github.com/amityv0113/Sorting_Algorithm_Visualizer"
                            style="text-decoration: none;color:rgb(63, 62, 62)">Git Hub Link</a></button>
                            <button type="button" class="btn btn-success"><a href="https://amit-algo-visual.herokuapp.com/"
                            style="text-decoration: none;color:rgb(63, 62, 62)">Project Link</a></button>
                </div>
                
                <div class="jumbotron">
                    <h1>Chrome-Web-Store Review Extractor</h1>
                    <p>Using Chrome Extension ID you can extract all reviews

                        and user rating for chrome Extension present at chrome-
                        web-store using this tool</p>
                    <ul>
                        <li>Store users information in Postgresql Database</li>
                        <li>runs every 30 min to check for any new users, and
                            update in database.</li>

                    </ul>


                    <button type="button" class="btn btn-success"><a href="https://github.com/amityv0113/Chrome-Web-Store-Extension-Review-Extractor"
                            style="text-decoration: none;color:rgb(63, 62, 62)">Git Hub Link</a></button>
                </div>
                <div class="jumbotron">
                    <h1>Whatsapp ChatBot</h1>
                    <p>Using Twilio API and Node js created ChatBot which take
                        Pizza order throughWhatsapp ,and stores the Order
                        detail in MongoDB Database user can track the order
                        detail</p>
                    <button type="button" class="btn btn-success"><a href="https://github.com/amityv0113/Pizza-chatbot-with-nodejs-twilio-API"
                            style="text-decoration: none;color:rgb(63, 62, 62)">Git Hub Link</a></button>
                </div>
                <div class="jumbotron">
                    <h1>Shooting game in c++</h1>
                    <p>Using SFML library created simple C++ game , small
projectiles are released and enemies are taken down by
projectiles results in increment of score.</p>

                    <button type="button" class="btn btn-success"><a href="https://github.com/amityv0113/games-c-"
                            style="text-decoration: none;color:rgb(63, 62, 62)">Git Hub Link</a></button>
                </div>

            </div>


            <div class="col-sm-2 sidenav">

            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p></p>
    </footer>

</body>

</html>